In [20]:
import pandas as pd
import random
from sklearn.utils import shuffle

In [26]:
#I needed some data processing
female_names= list()
male_names = list()

with open('datasets/names/female.txt') as f:
    female_names = f.readlines()
    female_names = [x.strip() for x in female_names] 
    
with open('datasets/names/male.txt') as m:
    male_names = m.readlines()
    male_names = [x.strip() for x in male_names] 

female_tuples = list()
male_tuples = list()
for i in female_names:
    female_tuples.append((i,'Female'))

for m in male_names:
    male_tuples.append((m,'Male'))

raw_data = female_tuples+male_tuples
names_data = pd.DataFrame(raw_data, columns =['Name', 'Gender']) 
names_data = shuffle(df)
names_data.reset_index(inplace=True, drop=True) 
names_data.head()

      Name  Gender
0   Peyton    Male
1    Kippy  Female
2      Zeb    Male
3  Tiertza  Female
4    Eilis  Female

In [27]:
len(names_data)

7944

In [28]:
len(names_data['Name'].unique())

7578

In [30]:
#clean data (eliminate duplicates)
#and choose randomly a gender for a name that s both for female and male
#example Farah can be female or male we choose randomly its gender association

names_data = names_data.drop_duplicates(subset=['Name'],
                                       keep=random.choice(['first','last']))

In [31]:
len(names_data)

7578

In [32]:
names_data.head()

      Name  Gender
0   Peyton    Male
1    Kippy  Female
2      Zeb    Male
3  Tiertza  Female
4    Eilis  Female

In [33]:
from sklearn import preprocessing

In [34]:
le = preprocessing.LabelEncoder()
names_data['Gender'] = le.fit_transform(names_data['Gender'])
names_data.head()

      Name  Gender
0   Peyton       1
1    Kippy       0
2      Zeb       1
3  Tiertza       0
4    Eilis       0

In [49]:
genders = ['Female','Male']

In [50]:
import string
all_letters = string.ascii_letters+ ".,;'"
all_letters

"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ.,;'"

In [51]:
n_letters = len(all_letters)
n_letters

56

In [52]:
#one hot encoding
import torch

def name_to_tensor(name):
    name_in_tensor = torch.zeros(len(name),1,n_letters)
    for i,letter in enumerate(name):
        name_in_tensor[i][0][all_letters.find(letter)]=1
    
    return name_in_tensor

In [71]:
name_to_tensor('s')

tensor([[[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0.]]])

In [72]:
name_to_tensor('seif')

tensor([[[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0.]],

        [[0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0.]],

        [[0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0.]],

        [[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
          0., 0., 0., 0., 0.]]])

In [73]:
#building the RNN
import torch.nn as nn

class RNN(nn.Module):
    def __init__(self, input_size,hidden_size,output_size):
        super(RNN,self).__init__()
        
        self.hidden_size=hidden_size
        
        self.i2h = nn.Linear(input_size+hidden_size,hidden_size)
        self.i2o =nn.Linear(input_size+hidden_size,output_size)
        self.softmax = nn.LogSoftmax(dim=1)
    
    def forward(self, input, hidden):
        combined = torch.cat((input,hidden),1)
        hidden = self.i2h(combined)
        output = self.i2o(combined)
        output = self.softmax(output)
        return output,hidden
    
    def initHidden(self):
        return torch.zeros(1,self.hidden_size) #use to initialize hidden state

In [74]:
#initialization
n_hidden = 128
n_genders= len(genders)

rnn = RNN(n_letters,n_hidden,output_size= n_genders)

In [75]:
iterations = 100000

criterion = nn.NLLLoss()

learning_rate = 0.005

In [76]:
def output_to_gender(output):
    
    top_n,top_index = output.topk(1)
    pred_i = top_index[0].item()
    pred = genders[pred_i]
    return pred

In [77]:
#train

for iteration in range (1, iterations+1):
    
    i = random.randint(0,len(names_data)-1)
    
    name = names_data.iloc[i][0]
    name_in_tensor = name_to_tensor(name) #encode name one hot form
    
    gender = names_data.iloc[i][1]
    gender_in_tensor = torch.LongTensor([gender]) #setup the gender associated 
    #...with the name as a tensor
    
    hidden = rnn.initHidden() #initialize first hidden layer
    rnn.zero_grad() #zero the gradients
    
    for i in range(name_in_tensor.size()[0]):
        output,hidden = rnn(name_in_tensor[i],hidden)
        
    loss = criterion(output,gender_in_tensor)
    loss.backward()
    
    for p in rnn.parameters():
        p.data.add_(-learning_rate, p.grad.data)
    
    if iteration % 2000 == 0:
        pred = output_to_gender(output)
        correct ='✓' if pred == genders[gender] else 'X {%s}' % genders[gender]
        print('iters- %d %d%% (%s) Name - %s Gender - %s %s' % \
             (iteration,iteration/iterations*100,loss.item(),name,pred,correct))

iters- 2000 2% (0.19884511828422546) Name - Nerta Gender - Female ✓
iters- 4000 4% (0.1525212973356247) Name - Tedra Gender - Female ✓
iters- 6000 6% (0.10378465056419373) Name - Rebeca Gender - Female ✓
iters- 8000 8% (0.7178431153297424) Name - Dynah Gender - Male X {Female}
iters- 10000 10% (0.053023405373096466) Name - Arlana Gender - Female ✓
iters- 12000 12% (0.0400589182972908) Name - Alberta Gender - Female ✓
iters- 14000 14% (1.0757181644439697) Name - Rianon Gender - Male X {Female}
iters- 16000 16% (0.43146172165870667) Name - Olympie Gender - Female ✓
iters- 18000 18% (0.017173511907458305) Name - Carma Gender - Female ✓
iters- 20000 20% (0.4761023223400116) Name - Alleen Gender - Female ✓
iters- 22000 22% (0.21133175492286682) Name - Shaylyn Gender - Female ✓
iters- 24000 24% (0.1772412210702896) Name - Tremain Gender - Male ✓
iters- 26000 26% (1.2395676374435425) Name - Scottie Gender - Female X {Male}
iters- 28000 28% (0.021834347397089005) Name - Lorianne Gender - Female ✓
iters- 30000 30% (1.3882421255111694) Name - Doris Gender - Male X {Female}
iters- 32000 32% (0.03194219991564751) Name - Danni Gender - Female ✓
iters- 34000 34% (0.7449378967285156) Name - Gail Gender - Male X {Female}
iters- 36000 36% (0.550498366355896) Name - Everett Gender - Male ✓
iters- 38000 38% (0.22737738490104675) Name - Aphrodite Gender - Female ✓
iters- 40000 40% (0.11941026896238327) Name - Isador Gender - Male ✓
iters- 42000 42% (0.15662451088428497) Name - Kissiah Gender - Female ✓
iters- 44000 44% (0.4713670015335083) Name - Barbey Gender - Female ✓
iters- 46000 46% (1.0133808851242065) Name - Gabe Gender - Female X {Male}
iters- 48000 48% (0.7532111406326294) Name - Gladys Gender - Male X {Female}
iters- 50000 50% (0.06182272732257843) Name - Gerrilee Gender - Female ✓
iters- 52000 52% (0.6817333102226257) Name - Roby Gender - Female ✓
iters- 54000 54% (0.3715445101261139) Name - Timothee Gender - Male ✓
iters- 56000 56% (0.6765091419219971) Name - Randell Gender - Male ✓
iters- 58000 57% (0.011751355603337288) Name - Vena Gender - Female ✓
iters- 60000 60% (0.1227286234498024) Name - Dione Gender - Female ✓
iters- 62000 62% (0.11549361050128937) Name - Rafael Gender - Male ✓
iters- 64000 64% (2.7850875854492188) Name - Baillie Gender - Female X {Male}
iters- 66000 66% (0.8289019465446472) Name - Aggy Gender - Male X {Female}
iters- 68000 68% (0.6828767657279968) Name - Daveen Gender - Female ✓
iters- 70000 70% (0.008725256659090519) Name - Raina Gender - Female ✓
iters- 72000 72% (0.020320450887084007) Name - Leshia Gender - Female ✓
iters- 74000 74% (0.24994949996471405) Name - Britaney Gender - Female ✓
iters- 76000 76% (0.022956907749176025) Name - Silvia Gender - Female ✓
iters- 78000 78% (0.33109959959983826) Name - Dotty Gender - Female ✓
iters- 80000 80% (0.0815136581659317) Name - Jillane Gender - Female ✓
iters- 82000 82% (0.23291374742984772) Name - Clem Gender - Male ✓
iters- 84000 84% (0.6858826279640198) Name - Ashly Gender - Female ✓
iters- 86000 86% (1.9059224128723145) Name - Prudence Gender - Male X {Female}
iters- 88000 88% (0.2853684425354004) Name - Reynold Gender - Male ✓
iters- 90000 90% (0.0685778558254242) Name - Aurora Gender - Female ✓
iters- 92000 92% (0.03151651844382286) Name - Tiertza Gender - Female ✓
iters- 94000 94% (0.26524320244789124) Name - Ashely Gender - Female ✓
iters- 96000 96% (0.057039570063352585) Name - Vanni Gender - Female ✓
iters- 98000 98% (0.01900697872042656) Name - Bathsheba Gender - Female ✓
iters- 100000 100% (0.35503506660461426) Name - Carl Gender - Male ✓

In [84]:
#will generate confusion matrix
n_confusion = 10000

prediction = []
actual = []

for _ in range (n_confusion):
    i = random.randint(0,len(names_data)-1)
    
    name = names_data.iloc[i][0]
    name_in_tensor = name_to_tensor(name)
    
    gender_idx = names_data.iloc[i][1]
    gender_in_tensor = torch.LongTensor([gender_idx])
    
    hidden = rnn.initHidden()
    
    for j in range(name_in_tensor.size()[0]):
        output, hidden = rnn(name_in_tensor[j],hidden)
    pred = output_to_gender(output)
    
    prediction.append(pred)
    actual.append(genders[gender_idx])

In [94]:
import numpy as np

np_prediction =np.array(prediction)
np_actual = np.array(actual)

In [97]:
T = 0
total =0

for x in range(len(np_prediction)):
    if np_prediction[x] == np_actual[x]:
        T += 1
    total += 1

print('Accuracy = %.4f %%'% ((T/total)*100 ) )
print('right values : %d' % T)

Accuracy = 83.4200 %
right values : 8342